/node_modules
/public/build/
/public/hot
/public/storage
/public/makets
/storage/*.key
/vendor
/.idea
.vscode/*
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.phpunit.result.cache
.env
# Windows system files
desktop.ini